

    
    
<div class="divhide">
  <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
  
    </div>
    </div>
    </div>
    <div class="header-adsvance-area">
        <div class="header-top-area">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="header-top-wraper">
        <div class="row">
       
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <div class="logo-wrapper">
            <span>Trustling Real Time Screening</span>
          </div>
           
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            
        <div class="header-right-info">
        <ul class="nav navbar-nav mai-top-nav header-right-menu">
           
            <!-- <li class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-angle-double-right"></i><span class="admin-name">Confiq Maintenance </span>
                </a>
             
            
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']" [routerLink]="['/home']" >dashboard</a></li>
                    <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']" [routerLink]="['/internallist']">Internalist</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']" [routerLink]="['/internawatchlist']">Internal-watchlist</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/blacklistedbic']">Blacklisted BIC</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/highriskcountries']">High Risk Countries</a></li>
              <li class="dropdown-item"> <a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/neutralwords']">Neutral words</a></li>
              <li class="dropdown-item"><a  class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/sanctionedcities']">Sanctioned Cities</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/zonevsglobal']">zone vs Global</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/delete_good_guy']">Delete Good Guy</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/match-score-threshold']">Match Score Threshold</a></li>
              <li class="dropdown-item"><a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  [routerLink]="['/name-screen']">Name Screen Field</a></li>

             

              
              
            </ul>
           
              
               
                </li> -->



    
        <li class="nav-item">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdownMenuButton" class="nav-link dropdown-toggle">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="indicator-nt"></span>
          </a>
        <div role="menu" class="notification-author dropdown-menu  animated zoomIn" aria-labelledby="dropdownMenuButton">
        <div class="notification-single-top">
        <h1>Notifications</h1>
        </div>
        <ul class="notification-menu">
      
  
        <li>
        <a href="#">
        <div class="notification-icon">
        <i class="fa fa-eraser edu-shield" aria-hidden="true"></i>
        </div>
        <div class="notification-content">
        <span class="notification-date">16 Sept</span>
        <h2>Victor Jara</h2>
        <p>Please done this project as soon possible.</p>
        </div>
        </a>
        </li>
        <li>
        <a href="#">
        <div class="notification-icon">
        <i class="fa fa-line-chart edu-analytics-arrow" aria-hidden="true"></i>
        </div>
        <div class="notification-content">
        <span class="notification-date">16 Sept</span>
        <h2>Victor Jara</h2>
        <p>Please done this project as soon possible.</p>
        </div>
        </a>
        </li>
         </ul>
        <div class="notification-view">
        <a href="#">View All Notification</a>
        </div>
        </div>
        </li>
        <li class="nav-item">
        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
        <img src="../../../assets/datatable/img/product/pro4.jpg" alt="" />
        <!--  -->
        <!-- <i class="fa fa-angle-down edu-icon edu-down-arrow"></i> -->
        </a>
      
        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn p-2">
          <li> <figure><img class="img-circle" src="../../../assets/datatable/img/product/pro4.jpg" alt="" height="50" width="50"/><figcaption>
            <span class="admin-name">Prof.Anderson</span>
          </figcaption></figure></li>
          <li class="divider"></li>
        <li><a href="#" ><span class="edu-icon edu-home-admin author-log-ic"></span>Help Center</a>
        </li>
        <li><a href="#" ><span class="edu-icon edu-user-rounded author-log-ic"></span>Settings</a>
        </li>
        <li><a href="#" ><span class="edu-icon edu-money author-log-ic"></span>About</a>
        </li>
        <li><a href="#" ><span class="edu-icon edu-locked author-log-ic"></span>Sign Out</a>
        </li>
        </ul>
        </li>
    
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
      
        
    
        </div>
 </div>
   
      
  <div class="data-table-area mg-b-15">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sparkline13-list">
 
    <div class="sparkline13-graph">
    <div class="datatable-dashv1-list custom-datatable-overright">
    <div id="toolbar">
      <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
        <h1 class="text-capitalize">{{listtitle}} <small>(Select Row To Update)</small></h1>
        </div>
        </div>
       
    </div>
   
     <table class="table table-bordered table-condensed table-hover">
       <thead>
        <tr>
          <th><input type="checkbox" /></th>
          <th>Sr.no</th>
          <th>PaysaysId</th>
          <th>Match Score Threshold</th>
    
           <th>Edit/Delete</th>
        </tr>
       </thead>
       <tbody>
        <tr >
          <td><input type="checkbox" /></td>
          <td>1</td>
          <td>PaysaysId</td>
          <td>Match Score Threshold</td>
       
       
          <td>
           <a class="action-btn">
             <i class="material-icons">edit</i>
           </a>
           <a class="action-btn" >
             <i class="material-icons">delete</i>
           </a>
         </td>
        </tr>
       </tbody>
      
     </table>
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
     <form id="addForm" >
      <div class="panel-body">
        <h4>Add Record</h4>
      </div>
    
 
    <div class="row">
          <div class="col-md-4">
            <input type="hidden" name="REF_KEY" >
            <div class="form-group">
              <label>Zone Id</label>
            <input type="text" class="form-control" name="zone_id" >
            </div>
            <div class="form-group">
              <label>PROGRAM_KEYWORD</label>
            <input type="text" class="form-control" name="program_keyword"  >
          </div>
           
          <div class="form-group">
            <label>MAKER_USER_ID</label>
            <input type="text" class="form-control" name="maker_user_id"  >
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>CHECKER_USER_ID</label>
              <input type="text" class="form-control" name="chker_user_id">
            </div>
            <div class="form-group">
              <label>MAKER_USER_NM</label>
              <input type="text" class="form-control" name="mker_usr_nm"  >
            </div>
            <div class="form-group">
              <label>CHECKER_USER_NM</label>
              <input type="text" class="form-control" name="chker_usr_nm"   >
            </div>
            <div class="form-group">
              <label>MAKER_COMMENT</label>
              <input type="text" class="form-control" name="mker_cmnt" >
            </div>
            <div class="form-group">
              <label>CHECKER_COMMENT</label>
              <input type="text" class="form-control" name="chker_cmnt"  >
            </div>
            <div class="form-group">
              <label>MAKER_DTTM</label>
              <input type="date" class="form-control" name="mkr_dttm"  >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>CHECKER_DTTM</label>
              <input type="date" class="form-control" name="chkr_dttm"  >
              
            </div>
            <div class="form-group">
              <label>MAKER_DATE</label>
              <input type="date" class="form-control" name="mkr_dte"  >
            </div>
            <div class="form-group">
              <label>CHECKER_DATE</label>
              <input type="date" class="form-control" name="chkr_dte" >
            </div>
            <div class="form-group">
              <label>CHANGE_TYPE</label>
              <input type="text" class="form-control" name="chng_type"  >
            </div>
            <div class="form-group">
              <label>UPDATE_VERSION</label>
              <input type="number" class="form-control" name="updt_version" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>VALIDATION_STATUS</label>
              <input type="text" class="form-control" name="validtion_status" >
              
            </div>
            <div class="form-group">
              <label>VALID_FROM_DTTM</label>
              <input type="date" class="form-control" name="valid_from_dttm" >
            </div>
            <div class="form-group">
              <label>VALID_TO_DTTM</label>
              <input type="date" class="form-control" name="valid_to_dttm"  >
            </div>
            <div class="form-group">
              <label>PROGRAM_KEYWORD_DESC</label>
            <textarea class="form-control" name="program_keyword_desc"  ></textarea>
          </div>
          </div>
        </div>

  
    
      <input type="submit" class="btn btn-success">
      
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-copyright-area">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="footer-copy-right">
    <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
  