

    
    
  <app-dashboard></app-dashboard>
   
      
  <div class="data-table-area mg-b-15">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sparkline13-list">
 
    <div class="sparkline13-graph">
    <div class="datatable-dashv1-list custom-datatable-overright">
    <div id="toolbar">
      <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
        <h1 class="text-capitalize">{{listtitle}} <small>(Select Row To Update)</small></h1>
        </div>
        </div>
       
    </div>
   
     <table class="table table-bordered table-condensed table-hover">
       <thead>
        <tr>
          <th><input type="checkbox" /></th>
          <th>Sr.no</th>
          <th>Scanned Field</th>
          <th>Scanned Value</th>
           <th>Matched Value</th>
           <th>UID Serial No.</th>
           <th>Watchlist Name</th>
           <th>Edit/Delete</th>
        </tr>
       </thead>
       <tbody>
        <tr >
          <td><input type="checkbox" /></td>
          <td>1</td>
          <td>Beneficiary Customer Name</td>
          <td>Carlos Gomes</td>
          <td>Oscar Gomes</td>
          <td>1531904</td>
          <td>wchk</td>
       
          <td>
           <a class="action-btn">
             <i class="material-icons">edit</i>
           </a>
           <a class="action-btn" >
             <i class="material-icons">delete</i>
           </a>
         </td>
        </tr>
       </tbody>
      
     </table>
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
     <form id="addForm" >
      <div class="panel-body">
        <h4>Add Record</h4>
      </div>
    
 
    <div class="row">
          <div class="col-md-4">
            <input type="hidden" name="REF_KEY" >
            <div class="form-group">
              <label>Zone Id</label>
            <input type="text" class="form-control" name="zone_id" >
            </div>
            <div class="form-group">
              <label>PROGRAM_KEYWORD</label>
            <input type="text" class="form-control" name="program_keyword"  >
          </div>
           
          <div class="form-group">
            <label>MAKER_USER_ID</label>
            <input type="text" class="form-control" name="maker_user_id"  >
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>CHECKER_USER_ID</label>
              <input type="text" class="form-control" name="chker_user_id">
            </div>
            <div class="form-group">
              <label>MAKER_USER_NM</label>
              <input type="text" class="form-control" name="mker_usr_nm"  >
            </div>
            <div class="form-group">
              <label>CHECKER_USER_NM</label>
              <input type="text" class="form-control" name="chker_usr_nm"   >
            </div>
            <div class="form-group">
              <label>MAKER_COMMENT</label>
              <input type="text" class="form-control" name="mker_cmnt" >
            </div>
            <div class="form-group">
              <label>CHECKER_COMMENT</label>
              <input type="text" class="form-control" name="chker_cmnt"  >
            </div>
            <div class="form-group">
              <label>MAKER_DTTM</label>
              <input type="date" class="form-control" name="mkr_dttm"  >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>CHECKER_DTTM</label>
              <input type="date" class="form-control" name="chkr_dttm"  >
              
            </div>
            <div class="form-group">
              <label>MAKER_DATE</label>
              <input type="date" class="form-control" name="mkr_dte"  >
            </div>
            <div class="form-group">
              <label>CHECKER_DATE</label>
              <input type="date" class="form-control" name="chkr_dte" >
            </div>
            <div class="form-group">
              <label>CHANGE_TYPE</label>
              <input type="text" class="form-control" name="chng_type"  >
            </div>
            <div class="form-group">
              <label>UPDATE_VERSION</label>
              <input type="number" class="form-control" name="updt_version" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>VALIDATION_STATUS</label>
              <input type="text" class="form-control" name="validtion_status" >
              
            </div>
            <div class="form-group">
              <label>VALID_FROM_DTTM</label>
              <input type="date" class="form-control" name="valid_from_dttm" >
            </div>
            <div class="form-group">
              <label>VALID_TO_DTTM</label>
              <input type="date" class="form-control" name="valid_to_dttm"  >
            </div>
            <div class="form-group">
              <label>PROGRAM_KEYWORD_DESC</label>
            <textarea class="form-control" name="program_keyword_desc"  ></textarea>
          </div>
          </div>
        </div>

  
    
      <input type="submit" class="btn btn-success">
      
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-copyright-area">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="footer-copy-right">
    <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
  